


<h1>Club Badia del Vallès </h1> <%=button_to "New post players", "/posts",  method: :get %> 

<p> ¡HEMOS VUELTO y CON TODA! @clubbadiadelvalles en BOGOTÀ comienza su calendario deportivo 2020! Nuevas noticias, mejores perspectivas, más intercambios y MUCHO WATERPOLO para este año! NO FALTES! MAÑANA COMENZAMOS! 1,2,3 BADIA!!!#forçaalcanut #waterpolo #poloacuatico #pallanuoto #wasserball @ Complejo acuático Simón Bolívar </p>
 <center>
   <%= image_tag("k.jpg") %>
   </center>