Posts creados por deportistas

<% @posts.each do |post| %>
<center>
  <div class="card" style="width: 25rem; height: 20rem ">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%= post.title%></h3>
    
    <p class="card-text"></p>
    <%= post.description%>
    
    <p> <% if post.image.attached? %>
    <%= image_tag post.image, height: 160 %> </p>
    <% end %> 
  </div>
</div>
</center>
<% end %>

<%=button_to "new post", "/posts/new",  method: :get %> 
